{
  "presets": [["@babel/preset-env",{"targets":{
    "node": "current",
    "chrome": "58",
  }}]],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma":"createElement","pragmaFrag":"Fragment" }]
  ]
}